<h1>Menu</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Allergens</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.type %></td>
        <td><%= dish.allergens %></td>
        <td><%= dish.category %></td>
        <td><%= dish.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- CSV file upload form -->
<%= form_tag({ action: :upload_csv }, multipart: true) do %>
  <label for="csv_file">Upload CSV file:</label>
  <%= file_field_tag :csv_file %>
  <%= submit_tag 'Upload' %>
<% end %>

<%= flash[:notice] %>
